:root {
    --primary-color: #ef814e;

    --bg-color-gray: #f2f4f6;
    --title-color: #333;
    --text-color: #3d3d3d;
    --info-text-color: #999;
    
    --van-primary-color: var(--primary-color);
    --van-checkbox-size: 16px;
}

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    overflow: auto;
}

.van-checkbox__icon:not(.van-checkbox__icon--round) .van-icon {
    border-radius: 2px;
}

.indeterminate .van-checkbox__icon .van-icon{
    line-height: 1.28;
}

.indeterminate .van-icon-success:before {
    content: '\2013';
    font-weight: 900;
}