<template>
    <div class="popup-view">
        <Header></Header>
        <Main></Main>
        <Footer></Footer>
    </div>
</template>

<script setup lang="ts">
import Header from './layout/Header.vue'
import Main from './layout/Main.vue'
import Footer from './layout/Footer.vue'
</script>

<style scoped>
.popup-view {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;

    height: 100%;

    overflow-x: hidden;
    overflow-y: hidden;
}
</style>
