<template>
    <div class="footer">
        <div class="time">Updated on {{ updateTimeStr }}</div>
        <div class="online">
            <OnlineStatus></OnlineStatus>
        </div>
    </div>
</template>

<script setup lang="ts">
import OnlineStatus from '../../components/OnlineStatus.vue'

import { computed } from 'vue'
import { storeToRefs } from 'pinia'
import { getTimeStr } from '../../utils/timeUtil'
import { useLastUpdateTimeStore } from '../../store/lastUpdateTime'

const lastUpdateTimeStore = useLastUpdateTimeStore()
const { lastUpdateTime } = storeToRefs(lastUpdateTimeStore)
const { initLastUpdateTime } = lastUpdateTimeStore

const updateTimeStr = computed(() => {
    return getTimeStr(lastUpdateTime.value)
})

void initLastUpdateTime()
</script>

<style scoped>
.footer {
    width: 100%;
    height: 40px;
    padding: 0 12px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 auto;

    background-color: var(--bg-color-gray);

    font-size: 11px;
    font-weight: 400;
}

.time {
    color: var(--text-color);
}
</style>
