<template>
    <div class="header">
        <div class="left-part">
            <logo class="logo"></logo>
            <div class="title-con">
                <div class="title-text">Shorter Alarm</div>
                <div v-if="msgNum > 0" class="msg-num-count">({{ msgNum }})</div>
            </div>
        </div>

        <div class="right-part">
            <RefreshBtn></RefreshBtn>
            <SettingBtn></SettingBtn>
        </div>
    </div>
</template>

<script setup lang="ts">
import RefreshBtn from '../../components/RefreshBtn.vue'
import SettingBtn from '../../components/SettingBtn.vue'
import logo from '../../assets/icons/logo.svg'

import { storeToRefs } from 'pinia'
import { useMessageStore } from '../../store/message'

const messageStore = useMessageStore()
const { msgNum } = storeToRefs(messageStore)
</script>

<style scoped>
.header {
    width: 100%;
    height: 60px;
    padding: 0 12px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;

    background-color: var(--bg-color-gray);
}

.logo {
    margin-right: 8px;
}

.left-part {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title-con {
    display: flex;
    align-items: center;

    color: var(--title-color);
    font-weight: 600;
    font-size: 16px;
}
</style>
