<template>
    <div class="main">
        <div class="main-header">
            <div class="header-left">
                <van-checkbox
                    :model-value="allMsgChecked || !noMsgChecked"
                    :class="{ indeterminate: !noMsgChecked && !allMsgChecked }"
                    shape="square"
                    @click="toggleAllMsgCheck"
                ></van-checkbox>
                <MsgTypeSelect></MsgTypeSelect>
            </div>
            <div class="header-right">
                <Network></Network>
            </div>
        </div>

        <MsgList></MsgList>
    </div>
</template>

<script setup lang="ts">
import MsgTypeSelect from '../../components/MsgTypeSelect/MsgTypeSelect.vue'
import Network from '../../components/Network.vue'
import MsgList from './MsgList.vue'

import { storeToRefs } from 'pinia'
import { useMessageStore } from '../../store/message'

const messageStore = useMessageStore()
const { noMsgChecked, allMsgChecked } = storeToRefs(messageStore)
const { toggleAllMsgCheck } = messageStore
</script>

<style scoped>
.main {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex: 1;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 18px;
    margin-bottom: 12px;
    padding: 0 12px;
}

.header-left {
    display: flex;
    align-items: center;
}
</style>
