<template>
    <div class="msg-list">
        <div id="msg-list-top" ref="topAnchorEl"></div>
        <template v-if="currentMsgs.length">
            <div v-for="msg in currentMsgs" :key="msg.id" :class="{ 'msg-item-con': true, readed: msg.isReaded, selected: msg.isChecked }">
                <div class="msg-item" @click="handleClickMsgItem(msg)">
                    <div class="msg-left">
                        <van-checkbox v-model="msg.isChecked" shape="square" @click="handleCheckMsgItem(msg, $event)"></van-checkbox>

                        <div class="msg-info">
                            <div class="msg-info-name">
                                <span class="info-name-title">{{ msg.name }}</span>
                                <img v-if="msg.logoURI" class="coin-icon" :src="msg.logoURI" />
                                <span v-if="msg.poolId || msg.proposalId" class="info-name-num">#{{ msg.poolId || msg.proposalId }}</span>
                            </div>

                            <div class="msg-num">
                                <span>
                                    <positionHash v-if="ShowPositionHashArr.has(msg.type)"></positionHash>
                                    <createBy v-if="ShowCreateByArr.has(msg.type)"></createBy>
                                    <bidder v-if="ShowBidderArr.has(msg.type)"></bidder>
                                </span>
                                <span class="msg-num-text"> {{ msg.hashStr }} </span>
                            </div>
                        </div>
                    </div>

                    <div class="msg-right">
                        <CountDownPie v-if="msg.isReaded" :readed-time="msg.readedTime" @time-is-up="deleteMsgAction(msg)"></CountDownPie>
                        <div class="msg-time">
                            <div class="msg-time-hour">{{ msg.receiveTimeStr }}</div>
                            <div class="msg-time-month">{{ msg.receiveDateStr }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <van-divider v-if="msgNum > 5">
                <span class="no-more-data-tip">
                    <noMore></noMore>
                    <span class="no-more-data-text">No more alarms</span>
                </span>
            </van-divider>

            <MsgListOperation v-if="!noMsgChecked"></MsgListOperation>
            <BackTop v-if="showBackTop"></BackTop>
        </template>
        <template v-else>
            <div class="no-data-con">
                <noDataImage></noDataImage>
                <span class="no-data-tip">No data</span>
            </div>
        </template>
    </div>
</template>

<script setup lang="ts">
import BackTop from '../../components/BackTop.vue'
import CountDownPie from '../../components/CountDownPie/CountDownPie.vue'
import MsgListOperation from '../../components/MsgListOperation.vue'

import noDataImage from '../../assets/icons/noDataImage.svg'
import createBy from '../../assets/icons/createBy.svg'
import bidder from '../../assets/icons/bidder.svg'
import positionHash from '../../assets/icons/positionHash.svg'
import noMore from '../../assets/icons/noMore.svg'

import { storeToRefs } from 'pinia'
import {
    Message,
    ShowPositionHashArr,
    ShowCreateByArr,
    ShowBidderArr,
    OpenBlockExplore,
    OpenShorterLiquidationPage,
    OpenShorterProposalPage,
    NetworkType
} from '../../types/base'
import { useBackTopShow } from '../../hooks/useBackTopShow'
import { useMessageStore } from '../../store/message'
import { openNewTab } from '../../utils/chromeHelper'
import { useSettingStore } from 'src/store/setting'

const { topAnchorEl, showBackTop } = useBackTopShow(280)

const messageStore = useMessageStore()
const settingStore = useSettingStore()
const { currentMsgs, msgNum, noMsgChecked } = storeToRefs(messageStore)
const { initMsg, deleteMsgAction, readMsgAction, toggleCheckMsgAction } = messageStore
const { networkType } = storeToRefs(settingStore)

const handleCheckMsgItem = (msg: Message, e: Event) => {
    toggleCheckMsgAction(msg)
    e.stopPropagation()
}

const handleClickMsgItem = (msg: Message) => {
    // eslint-disable-next-line @typescript-eslint/no-unsafe-assignment
    const msgType = msg.type as any

    let url: string
    if (OpenBlockExplore.has(msgType)) {
        if (networkType.value === NetworkType.Mainnet) {
            url = `https://etherscan.io/tx/${msg.transactionHash}`
        } else {
            url = `https://goerli.etherscan.io/tx/${msg.transactionHash}`
        }
    }

    if (OpenShorterLiquidationPage.has(msgType)) {
        url = `https://app.shorter.finance/liquidations/${msg.positionAddr}`
    }

    if (OpenShorterProposalPage.has(msgType)) {
        url = `https://app.shorter.finance/governance/proposals/${msg.proposalId}`
    }

    if (url) {
        void openNewTab(url)
    }

    if (!msg.isReaded) readMsgAction(msg)
}
void initMsg()
</script>

<style scoped>
.msg-list {
    max-height: 440px;
    overflow-y: auto;
    flex: 1;
}

.msg-item-con {
    height: 79px;
    padding: 0 12px;

    cursor: pointer;
}

.msg-item-con.readed {
    opacity: 0.6;
}

.msg-item-con:hover,
.msg-item-con.selected {
    background-color: #f8f8f8;
}

.msg-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    border-bottom: 1px solid #eee;
}

.msg-left {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.msg-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-left: 12px;
}

.msg-info-name {
    display: flex;
    align-items: center;

    padding-bottom: 12px;
}

.msg-info-name .coin-icon {
    height: 14px;
    width: 14px;
    margin-left: 4px;
}

.info-name-title {
    color: var(--text-color);
    font-weight: 500;
}

.info-name-num {
    color: var(--title-color);
    font-weight: 400;
    margin-left: 4px;
}

.msg-num {
    display: flex;
    align-items: center;
}

.msg-num-text {
    color: var(--title-color);
    font-weight: 400;
    padding-left: 4px;
}

.msg-right {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.msg-time {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding-left: 12px;
}

.msg-time-hour {
    padding-bottom: 6px;

    color: var(--title-color);
    font-weight: 400;
}

.msg-time-month {
    color: var(--info-text-color);
    font-weight: 400;
}

.no-more-data-tip {
    display: flex;
    align-items: center;
}

.no-more-data-text {
    padding-left: 4px;
}

.van-divider {
    margin: 70px 0 16px 0;
}

.no-data-con {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 129px;
}

.no-data-tip {
    color: #999;
    margin-top: 18px;
}
</style>
