<template>
    <span ref="el"></span>
</template>

<script setup lang="ts">
import Peity from './peity'
import { onMounted, ref, watch, nextTick, onUnmounted } from 'vue'

import { storeToRefs } from 'pinia'
import { useSettingStore } from '../../store/setting'

const settingStore = useSettingStore()
const { settings } = storeToRefs(settingStore)

const props = withDefaults(
    defineProps<{
        readedTime: number
    }>(),
    { readedTime: 0 }
)

const emits = defineEmits(['timeIsUp'])

const options = {
    fill: ['#dedede', '#adadad'],
    width: 14,
    height: 14,
    innerRadius: 0,
    radius: 7
}

const el = ref<HTMLElement>(null)
const chart = ref<Peity>(null)

onMounted(() => {
    chart.value = new Peity(el, 'pie', calcPieData(), options)
    chart.value.draw()
})

watch(
    () => settings.value.removeAfterTime,
    () => {
        // eslint-disable-next-line @typescript-eslint/no-floating-promises
        nextTick(() => {
            redraw()
        })
    }
)

const calcPieData = () => {
    const now: number = new Date().getTime()
    const passTime = now - new Date(props.readedTime).getTime()
    const removeAfterTime = settings.value.removeAfterTime * 1000

    if (passTime > removeAfterTime) {
        emits('timeIsUp')
        clearInterval(timer)

        return '0, 0'
    }

    return `${passTime}, ${removeAfterTime}`
}

const redraw = () => {
    chart.value.raw = calcPieData()
    chart.value.draw()
}

const timer = setInterval(() => {
    calcPieData()
    redraw()
}, 2000)

onUnmounted(() => {
    clearInterval(timer)
})
</script>

<style>
.peity {
    margin-top: 2px;
}
</style>
