<!-- eslint-disable vue/no-mutating-props -->
<template>
    <div class="notification-num-con" @click="handleShowEventPopup">
        <span class="notify-num"
            >{{ currentSettings.biddingTantoOpen ? currentSelectFilterType.size + 1 : currentSelectFilterType.size }} items</span
        >
        <rightArrow></rightArrow>
    </div>

    <van-popup
        v-model:show="showEventPopup"
        round
        closeable
        position="bottom"
        :style="{ height: '445px' }"
        @closed="handleDeleteErrorStatusBdt"
    >
        <div class="event-popup">
            <div class="header">Notification Events</div>
            <div class="content">
                <div class="title-switch">
                    <div :class="{ 'title-option': true, selected: selectEventCate === Base }" @click="handleSelectEventCate(Base)">
                        {{ Base }}
                    </div>
                    <div :class="{ 'title-option': true, selected: selectEventCate === Other }" @click="handleSelectEventCate(Other)">
                        {{ Other }}
                    </div>
                </div>

                <div v-if="selectEventCate === Base" class="options filter-type-options">
                    <div v-for="fType in filterTypes" :key="fType" class="filter-option" @click="handleToggleFilterType(fType)">
                        <span>{{ fType }}</span>
                        <van-checkbox :model-value="currentSelectFilterType.has(fType)" shape="square"></van-checkbox>
                    </div>
                </div>

                <div v-if="selectEventCate === Other" class="options">
                    <div class="other-title">
                        <span @click="handleSelectBiddingTanto">Anyone bidding Tanto (Phase1) of</span>
                        <van-checkbox v-model="currentSettings.biddingTantoOpen" shape="square"> </van-checkbox>
                    </div>
                    <div class="hash-list-con">
                        <div v-for="(bdt, index) in biddingTantos" :key="bdt.key" class="hash-input-list">
                            <div :class="{ 'hash-input-row': true, 'error-status': bdt.validatorStatus }">
                                <textarea
                                    v-model="bdt.value"
                                    rows="2"
                                    type="textarea"
                                    placeholder="Position Hash 0x"
                                    @blur="handleBdtInput(bdt)"
                                />

                                <div class="hash-input-operation">
                                    <plusColored
                                        v-if="index === biddingTantos.length - 1 && biddingTantos.length < 4"
                                        class="can-click"
                                        @click="handleAddHashInput"
                                    ></plusColored>
                                    <plus v-else class="cant-click"></plus>
                                    <subtractColored
                                        v-if="biddingTantos.length !== 1"
                                        class="can-click"
                                        @click="handleDeleteHashInput(bdt)"
                                    ></subtractColored>
                                    <subtract v-else class="cant-click"></subtract>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </van-popup>
</template>

<script setup lang="ts">
import rightArrow from '../../assets/icons/rightArrow.svg'
import plus from '../../assets/icons/plus.svg'
import plusColored from '../../assets/icons/plusColored.svg'
import subtract from '../../assets/icons/subtract.svg'
import subtractColored from '../../assets/icons/subtractColored.svg'

import { watch, computed, ref, toRef } from 'vue'
import { Toast } from 'vant'
import { BdTantoObj, Setting } from '../../types/settingType'
import { EventItem, EventType } from '../../types/base'
import { Base, Other, useBaseOtherEvent } from './useBaseOtherEvent'

const props = defineProps<{
    currentSettings: Setting
}>()
const currentSettings = toRef(props, 'currentSettings')
const biddingTantos = computed({
    get: () => {
        return currentSettings.value.biddingTantos
    },
    set: (val: Array<BdTantoObj>) => {
        currentSettings.value.biddingTantos = val
    }
})


const { showEventPopup, selectEventCate, handleShowEventPopup, handleSelectEventCate } = useBaseOtherEvent()

const filterTypes = Object.values(EventType).filter(v => v !== EventType.Tanto_Bidding)
const currentSelectFilterType = ref<Set<EventItem>>(new Set(currentSettings.value.events))

const handleToggleFilterType = (fType: EventItem) => {
    currentSelectFilterType.value.has(fType) ? currentSelectFilterType.value.delete(fType) : currentSelectFilterType.value.add(fType)
    currentSettings.value.events = Array.from(currentSelectFilterType.value)
}

const handleSelectBiddingTanto = () => {
    currentSettings.value.biddingTantoOpen = !currentSettings.value.biddingTantoOpen
}

const getEmptyBiddingTantos: () => BdTantoObj = () => {
    return {
        key: Math.floor(Math.random() * 1000),
        value: '',
        validatorStatus: null
    }
}
const initBiddingTantosInput = () => {
    if (!biddingTantos.value.length) {
        biddingTantos.value.push(getEmptyBiddingTantos())
    }
}

watch(
    () =>  currentSettings.value.biddingTantos, 
    () => initBiddingTantosInput(), 
    {
        immediate: true
    }
)

const handleAddHashInput = () => {
    biddingTantos.value.push(getEmptyBiddingTantos())
}

const handleDeleteHashInput = (value: BdTantoObj) => {
    biddingTantos.value = biddingTantos.value.filter(bdt => bdt.key !== value.key)
    findRepeatsBdt()
}

const handleBdtInput = (bdt: BdTantoObj) => {
    if (!checkIsRightPattern(bdt)) {
        Toast('Please enter the correct position information;')
    } else if (!checkIsNotRepeat(bdt)) {
        Toast('Position hash already exists')
    } else {
        bdt.validatorStatus = null
    }
}

const handleDeleteErrorStatusBdt = () => {
    biddingTantos.value = biddingTantos.value.filter(bdt => !bdt.validatorStatus)
    if (!currentSettings.value.biddingTantos.length) {
        initBiddingTantosInput()
    }
}

const checkIsRightPattern = (bdt: BdTantoObj) => {
    const isStartWith0x = bdt.value.startsWith('0x')
    const isLenRight = bdt.value.length === 42
    bdt.validatorStatus = isStartWith0x && isLenRight ? null : 'patternError'
    return isStartWith0x && isLenRight
}

const checkIsNotRepeat = (bdt: BdTantoObj) => {
    findRepeatsBdt()
    return bdt.validatorStatus !== 'repeatError'
}

const findRepeatsBdt = () => {
    const bdts = biddingTantos.value
    for (const bdt of bdts) {
        const index = bdts.findIndex((b: BdTantoObj) => bdt.value === b.value)
        // eslint-disable-next-line @typescript-eslint/no-unsafe-assignment, @typescript-eslint/no-unsafe-call
        const lastIndex = (bdts as any).findLastIndex((b: BdTantoObj) => bdt.value === b.value)

        if (index !== lastIndex) {
            // bdts[index].validatorStatus = 'repeatError'
            bdts[lastIndex].validatorStatus = 'repeatError'
        } else {
            bdts[index].validatorStatus = null
        }
    }
}
</script>

<style scoped>
.notification-num-con {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 40px;
    padding: 0 12px;
    border: 1px solid #eee;
    border-radius: 4px;
    cursor: pointer;
}

.notify-num {
    font-size: 14px;
    font-weight: 400;
    color: var(--title-color);
}

.event-popup {
    padding: 17px 12px 24px;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.event-popup .header {
    font-size: 16px;
    font-weight: 600;
    color: var(--title-color);

    margin-bottom: 24px;
}

.event-popup .content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.title-switch {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 44px;

    border: 1px solid #eee;
    border-radius: 109px;

    padding: 4px;
    margin-bottom: 24px;
}

.title-option {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    color: var(--info-text-color);
    font-weight: 500;
    border-radius: 247px;
}

.title-option.selected {
    color: #fff;
    background-color: var(--primary-color);
}

.options,
.filter-type-options {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.options {
    justify-content: flex-start;
}

.filter-type-options {
    justify-content: space-between;
}

.filter-option {
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
}

.other-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 4px;

    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

.hash-list-con {
    overflow-y: auto;
}

.hash-input-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-top: 12px;
}

.hash-input-operation {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    width: 48px;
    margin-top: 10px;
}

.can-click {
    cursor: pointer;
}

.cant-click {
    cursor: not-allowed;
}

.hash-input-list textarea {
    width: 256px;
    font-size: 14px;
    padding: 8px 12px;
    border: 1px solid #eee;

    height: 58px !important;

    resize: none;
}

.hash-input-list .error-status textarea {
    border-color: #ff3f3f;
}
</style>

<style></style>
