<template>
    <van-popover v-model:show="showTypePopover" placement="bottom-start" :show-arrow="false" :offset="[6, 4]" @close="handleTypePopClose">
        <div ref="typePopover" class="msg-type-options">
            <div
                v-for="mtype in msgTypes"
                :key="mtype"
                :class="{ option: true, selected: mtype === filterSettings.msgType }"
                @click="handleSelectType(mtype)"
            >
                <template v-if="mtype !== MsgType.Filter">
                    <div class="option-con">
                        <span class="icon-box">
                            <choose v-if="mtype === filterSettings.msgType"></choose>
                        </span>
                        <span class="type">
                            {{ mtype }}
                        </span>
                    </div>
                </template>

                <template v-else>
                    <van-popover v-model:show="showFilterPopover" placement="right-start" :show-arrow="false" :offset="[0, 3]">
                        <div :ref="setFilterPopoverEl" class="filter-type-options">
                            <div
                                v-for="fType in filterTypes"
                                :key="fType"
                                :class="{
                                    'filter-option': true,
                                    selected: currentSelectFilterType.has(fType)
                                }"
                                @click="handleToggleFilterType(fType)"
                            >
                                <span>{{ fType }}</span>
                                <van-checkbox :model-value="currentSelectFilterType.has(fType)" shape="square"></van-checkbox>
                            </div>
                        </div>
                        <template #reference>
                            <div :ref="setFilterPopoverEl" class="option-con filter-option-con">
                                <span class="icon-box">
                                    <choose v-if="currentSelectFilterType.size"></choose>
                                </span>
                                <span class="type">
                                    {{ mtype }}
                                </span>
                                <span>
                                    <rightArrowColored
                                        class="right-arrow-colored"
                                        :style="{ display: currentSelectFilterType.size ? 'inline-block' : 'none' }"
                                    ></rightArrowColored>
                                    <rightArrow
                                        class="right-arrow"
                                        :style="{ display: currentSelectFilterType.size ? 'none' : 'inline-block' }"
                                    ></rightArrow>
                                </span>
                            </div>
                        </template>
                    </van-popover>
                </template>
            </div>
        </div>

        <template #reference>
            <div ref="typePopoverTrigger" class="pop-tigger">
                <template v-if="currentSelectFilterType.size && currentSelectFilterType.size !== filterTypes.length">
                    <span class="type-text">{{ MsgType.Filter }}</span>
                    <span>({{ currentSelectFilterType.size }})</span>
                </template>
                <template v-else>
                    <span class="type-text">{{ filterSettings.msgType }}</span>
                </template>
                <span :class="['filter-arrow', showTypePopover ? 'is-open' : '']">
                    <arrow></arrow>
                </span>
            </div>
        </template>
    </van-popover>
</template>

<script setup lang="ts">
import arrow from '../../assets/icons/arrow.svg'
import choose from '../../assets/icons/choose.svg'
import rightArrow from '../../assets/icons/rightArrow.svg'
import rightArrowColored from '../../assets/icons/rightArrowColored.svg'

import { ref } from 'vue'
import { storeToRefs } from 'pinia'
import { EventItem, EventType, MsgType, MsgTypeItem } from '../../types/base'
import { useSettingStore } from '../../store/setting'
import { useMsgTypePopover } from './useMsgTypePopover'

const {
    showTypePopover,
    showFilterPopover,

    typePopover,
    typePopoverTrigger,

    handleTypePopClose,
    setFilterPopoverEl
} = useMsgTypePopover()

const settingStore = useSettingStore()
const { filterSettings } = storeToRefs(settingStore)

const msgTypes = Object.values(MsgType)
const filterTypes = Object.values(EventType)

const currentSelectFilterType = ref<Set<EventItem>>(new Set(filterSettings.value.filterEvents))
const handleToggleFilterType = (fType: EventItem) => {
    currentSelectFilterType.value.has(fType) ? currentSelectFilterType.value.delete(fType) : currentSelectFilterType.value.add(fType)
    filterSettings.value.filterEvents = Array.from(currentSelectFilterType.value)
}

const handleSelectType = (mType: MsgTypeItem) => {
    if (mType !== MsgType.Filter) {
        showFilterPopover.value = false

        filterSettings.value.msgType = mType
        showTypePopover.value = false
    }
}
</script>

<style scoped>
.pop-tigger {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.pop-tigger .type-text {
    margin-left: 8px;
}

.pop-tigger .filter-arrow {
    margin-left: 4px;
}

.filter-arrow.is-open {
    transform: rotate(180deg);
}

.msg-type-options {
    width: 132px;
    height: 133px;
}

.filter-type-options {
    width: 177px;
    height: 264px;
}

.filter-type-options,
.msg-type-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.msg-type-options .option,
.filter-type-options .filter-option {
    height: 33px;

    font-size: 14px;
}

.filter-option.selected,
.option.selected,
.filter-option:hover,
.option:hover {
    color: var(--primary-color);
    background-color: rgba(239, 129, 78, 0.2);
}

.option:hover .right-arrow-colored {
    display: unset;
}

.option:hover .right-arrow {
    display: none;
}

.option:not(.selected) {
    cursor: pointer;
}

.option .option-con {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin: 0 6px;
}

.option .filter-option-con {
    cursor: pointer;
    border-top: 1px solid #eee;
}

.option-con .icon-box {
    width: 16px;
    margin-right: 9px;
}

.option-con .type {
    flex: 1;
}

.filter-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6px 0 12px;

    cursor: pointer;
}
</style>

<style>
.option .van-popover__wrapper {
    width: 100%;
}
</style>
