<template>
    <div ref="dragEl" class="backTop" @click="handleBackTop">
        <backTop></backTop>
    </div>
</template>

<script setup lang="ts">
import backTop from '../assets/icons/backTop.svg'

import { ref } from 'vue'
import { Position } from '../utils/dragUtils'
import { useDragMove } from '../hooks/useDragMove'
import { ChromeStorageKey } from '../types/base'

const dragEl = ref<HTMLElement>()

const updateBtnPostion = (p: Position) => {
    void chrome.storage.local.set({ [ChromeStorageKey.BackTopPosition]: p })
}
const { isDragging, updateDragElPosition } = useDragMove(dragEl, updateBtnPostion)

// eslint-disable-next-line @typescript-eslint/no-unsafe-call
void chrome.storage.local.get(ChromeStorageKey.BackTopPosition).then((p) => {
    const position = p[ChromeStorageKey.BackTopPosition] as Position
    if (position) {
        updateDragElPosition(position)
    }
})

const handleBackTop = () => {
    if (isDragging.value) return

    let topEl = document.getElementById('msg-list-top')
    if (topEl) {
        topEl.scrollIntoView({ behavior: 'smooth' })
    }
}
</script>

<style scoped>
.backTop {
    position: fixed;
    cursor: pointer;
    user-select: none;

    background-color: #fff;
    border-radius: 50%;

    bottom: 100px;
    right: 12px;
}
</style>
