<template>
    <div class="msg-operation">
        <div class="operation-con">
            <div class="op-icon">
                <van-popover
                    v-model:show="showDeletePopover"
                    class="icon-popover"
                    trigger="manual"
                    theme="dark"
                    placement="top"
                    teleport="body"
                >
                    <div class="pop-text">Delete</div>
                    <template #reference>
                        <msgDeleteItem
                            @mouseenter="handleDeletePopoverToggle(true)"
                            @mouseleave="handleDeletePopoverToggle(false)"
                            @click="deleteAllCheck"
                        ></msgDeleteItem>
                    </template>
                </van-popover>
            </div>

            <div class="op-icon">
                <van-popover v-model:show="showReadPopover" class="icon-popover" trigger="manual" theme="dark" placement="top">
                    <div class="pop-text">Read</div>
                    <template #reference>
                        <msgReadItem
                            @mouseenter="handleReadPopoverToggle(true)"
                            @mouseleave="handleReadPopoverToggle(false)"
                            @click="readAllCheck"
                        ></msgReadItem>
                    </template>
                </van-popover>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import msgDeleteItem from '../assets/icons/msgDeleteItem.svg'
import msgReadItem from '../assets/icons/msgReadItem.svg'

import { ref } from 'vue'
import { useMessageStore } from 'src/store/message'

const showDeletePopover = ref<boolean>(false)
const showReadPopover = ref(false)

const handleDeletePopoverToggle = (val: boolean) => {
    showDeletePopover.value = val
}

const handleReadPopoverToggle = (val: boolean) => {
    showReadPopover.value = val
}

const messageStore = useMessageStore()
const { deleteAllCheck, readAllCheck } = messageStore
</script>

<style scoped>
.msg-operation {
    position: fixed;
    bottom: 40px;

    width: 100%;
    height: 40px;

    display: flex;
    align-items: stretch;

    background-color: #fff;
    border: 1px solid #d1d1d1;
    padding: 0 8px;
}

.operation-con {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex: 1;
}

.op-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;

    cursor: pointer;
}

.op-icon:first-child {
    border-right: 1px solid #e4e4e4;
}
</style>

<style>
.icon-popover .pop-text {
    font-size: 12px;
    color: #fff;
    padding: 4px 8px;
}
</style>
