<template>
    <div class="network" @click="handleShowChoosePopup">
        <net class="net-icon"></net>
        <span class="network-name">{{ networkType }}</span>
        <rightArrow></rightArrow>
    </div>
    <van-popup v-model:show="showNetChoosePopup" round closeable position="bottom" :style="{ height: '184px' }">
        <div class="net-popup">
            <div class="header">Network</div>
            <div
                v-for="(netItem, key) in NwType"
                :key="key"
                :class="{ 'net-item': true, selected: networkType === netItem }"
                @click="handleSelectNet(netItem)"
            >
                <span class="net-name-con">
                    <template v-if="netItem === NwType.Mainnet">
                        <eth></eth>
                        <span class="net-name">Ethereum Mainnet</span>
                    </template>
                    <template v-if="netItem === NwType.Testnet_Goerli">
                        <testnet></testnet>
                        <span class="net-name">Goerli Testnet</span>
                    </template>
                </span>
                <span>
                    <van-checkbox :model-value="networkType === netItem" shape="round"></van-checkbox>
                </span>
            </div>
        </div>
    </van-popup>
</template>

<script setup lang="ts">
import net from '../assets/icons/net.svg'
import rightArrow from '../assets/icons/rightArrow.svg'
import eth from '../assets/icons/eth.svg'
import testnet from '../assets/icons/testnet.svg'

import { ref } from 'vue'
import { storeToRefs } from 'pinia'
import { NetworkType as NwType, NetworkTypeItem } from 'src/types/base'
import { useSettingStore } from 'src/store/setting'

const settingStore = useSettingStore()
const { networkType } = storeToRefs(settingStore)

const handleSelectNet = (netName: NetworkTypeItem) => {
    networkType.value = netName
}

const showNetChoosePopup = ref(false)
const handleShowChoosePopup = () => {
    showNetChoosePopup.value = true
}

void settingStore.initNetType()
</script>

<style scoped>
.network {
    display: flex;
    align-items: center;

    cursor: pointer;
}

.net-icon {
    border-radius: 50%;
}

.network-name {
    margin: 0 4px;
}

.net-popup {
    padding: 17px 12px 12px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.net-popup .header {
    font-size: 16px;
    font-weight: 600;
    color: var(--title-color);

    margin-bottom: 24px;
}

.net-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 12px;
    height: 44px;
    padding: 0 12px;
    cursor: pointer;

    border: 1px solid #eee;
    border-radius: 6px;
}

.net-item:hover,
.net-item.selected {
    border-color: var(--primary-color);
    background-color: rgba(239, 129, 78, 0.1);
}

.net-name-con {
    display: flex;
    align-items: center;

    color: var(--title-color);
}

.net-name {
    margin-left: 4px;
}
</style>
