<template>
    <div class="online-status">
        <span class="num">{{ blockNum }}</span>
        <span :class="['status-dot', onlineStatus ? 'online' : 'offline']"></span>
    </div>
</template>

<script setup lang="ts">
import { storeToRefs } from 'pinia'
import { useBlockNumStore } from '../store/blockNum'

const messageStore = useBlockNumStore()
const { blockNum, onlineStatus } = storeToRefs(messageStore)

void messageStore.initBlockNum()
void messageStore.initOnlineStatus()
</script>

<style scoped>
.online-status {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    color: var(--info-text-color);
    font-weight: 400;
}

.status-dot {
    margin-left: 4px;
}

.status-dot:after {
    display: table;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.status-dot.online:after {
    background: #43ac8d;
}
.status-dot.offline:after {
    background: #ef5a4f;
}
</style>
