<template>
    <refresh class="refresh-icon" @click="handleRefreshBtn"></refresh>
</template>

<script setup lang="ts">
import refresh from '../assets/icons/refresh.svg'

const handleRefreshBtn = () => {
    chrome.runtime.sendMessage('refresh')
}
</script>

<style scoped>
.refresh-icon {
    cursor: pointer;
    margin-right: 12px;
}
</style>
