<template>
    <settingIcon class="setting-icon" @click="handleShowSetting"></settingIcon>
    <van-popup
        v-model:show="showSettingPopover"
        class="setting-popup"
        :style="{ width: '100%', height: '100%' }"
        closeable
        position="right"
    >
        <Setting @saved="handleSettingSaved"></Setting>
    </van-popup>
</template>

<script setup lang="ts">
import { ref } from 'vue'

import settingIcon from '../assets/icons/setting.svg'
import Setting from './Setting.vue'

const showSettingPopover = ref(false)
const handleShowSetting = () => {
    showSettingPopover.value = true
}

const handleSettingSaved = () => {
    showSettingPopover.value = false
}
</script>

<style scoped>
.setting-icon {
    cursor: pointer;
}
</style>

<style>
.setting-popup {
    overflow-y: hidden;
}

.setting-popup .van-popup__close-icon {
    top: 20px;
}
</style>
