<template>
    <div class="setting-page">
        <div class="setting-header">
            <div class="setting-title">Shorter Alarm Settings</div>
        </div>
        <div class="setting-content">
            <div>
                <div class="setting-item">
                    <div class="setting-item-title network">
                        <span>Network</span>
                        <div class="net-type-option">
                            <van-radio-group v-model="currentInputNetType" direction="horizontal">
                                <van-radio :name="NetworkType.Mainnet">Ethereum</van-radio>
                                <van-radio :name="NetworkType.Testnet_Goerli">Goerli</van-radio>
                            </van-radio-group>
                        </div>
                    </div>

                    <div class="network-content">
                        <div class="network-item">
                            <div class="network-item-title">RPC Endpoint</div>
                            <div class="rpc-input">
                                <textarea
                                    v-model="currentSettings.rpc[currentInputNetType]"
                                    rows="2"
                                    type="textarea"
                                    placeholder="https://"
                                />
                            </div>
                        </div>

                        <div class="network-item">
                            <div class="network-item-title">Notification Events</div>
                            <NotificationEventSetting :current-settings="currentSettings"></NotificationEventSetting>
                        </div>
                    </div>
                </div>

                <div class="setting-item">
                    <div class="setting-item-title">Removed read items from list in</div>
                    <div class="remove-read-time-option">
                        <van-radio-group v-model="currentSettings.removeAfterTime" direction="horizontal">
                            <van-radio :name="300">5 minutes</van-radio>
                            <van-radio :name="18000">30 minutes</van-radio>
                            <van-radio :name="36000">1 hour</van-radio>
                        </van-radio-group>
                    </div>
                </div>

                <div class="setting-item">
                    <div class="setting-item-title">Sound</div>
                    <div>
                        <van-switch v-model="currentSettings.soundOpen" inactive-color="#adadad" size="20px" />
                    </div>
                </div>
            </div>

            <div class="setting-footer">
                <van-button type="primary" round block @click="handleSaveSetting">Save Settings</van-button>
                <span class="version"> Version: {{ manifest.version }} </span>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import NotificationEventSetting from './NotificationEventSetting/NotificationEventSetting.vue'

import { ref } from 'vue'
import { storeToRefs } from 'pinia'
import { Toast } from 'vant'

import { useSettingStore } from '../store/setting'
import manifest from '../manifest.json'
import { NetworkType, NetworkTypeItem } from '../types/base'
import { Setting } from '../types/settingType'


const settingStore = useSettingStore()
const { settings } = storeToRefs(settingStore)
const currentSettings = ref<Setting>(JSON.parse(JSON.stringify(settings.value)))

settingStore.initSetting().then(() => {
    currentSettings.value = JSON.parse(JSON.stringify(settings.value)) as Setting
    return null
}).catch(e => {
    console.error(e)
})

const currentInputNetType = ref<NetworkTypeItem>(NetworkType.Mainnet)

const emits = defineEmits(['saved'])

const handleSaveSetting = () => {
    Toast('Saved')
    settingStore.updateSettingsAction(currentSettings.value)
    emits('saved', {})
}
</script>

<style scoped>
.setting-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    height: 100%;
}

.setting-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    height: 60px;
    padding: 0 12px;
    background-color: #f2f4f6;
}

.setting-title {
    color: var(--title-color);
    font-weight: 600;
    font-size: 16px;
}

.setting-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

    padding: 24px 12px;
}

.setting-item {
    margin-bottom: 24px;
}

.setting-item-title {
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;

    margin-bottom: 12px;
}

.network {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.network .net-type-option {
    font-size: 14px;
    font-weight: normal;

    margin-right: 35px;
}

.network-content {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 16px 12px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.network-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.network-item:not(:last-child) {
    margin-bottom: 24px;
}

.rpc-input textarea {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #eee;
    height: 58px !important;
    resize: none;

    font-size: 14px;
    color: var(--title-color);
    background-color: #f9f9f9;
}

.network-item-title {
    color: var(--title-color);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 12px;
}

.setting-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.version {
    margin-top: 12px;

    color: var(--info-text-color);
    font-size: 12px;
    font-weight: 400;
}
</style>

<style>
.remove-read-time-option .van-radio-group--horizontal {
    justify-content: space-between;
}

.remove-read-time-option .van-radio__label {
    color: var(--text-color);
    font-size: 14px;
}

.setting-page .van-overlay {
    overflow-y: hidden;
}
</style>
